@import url("reset.css");
@import url("original_main.css");
/*@import url("../fonts/cm-webfont/fonts.css");*/
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:600,600i,700,700i|Open+Sans:400,400i&subset=greek,greek-ext,latin,latin-ext');

div.figure {
    max-width: 90%;
    margin: 0 auto;
    border: 1px solid #eeeeee;
    padding: 0.5em;
}

.figure img, .figure object {
    width: 100%
}

body {
    /*font-family: "Computer Modern Serif", serif;*/
    font-family: "Open Sans", serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Cormorant Garamond", serif;
    font-variant: small-caps;
    line-height: 1.5;
    margin: .8em;
    margin-left: 1.2em;
}

nav a {
    font-family: "Cormorant Garamond", serif;
    font-size: 1.1em;
    font-weight: 700;
}

body p, body li, body tr {
    font-size: 1.2em;
}

/* narrower padding on navbar items */
#banner nav a:link, #banner nav a:visited {
    color: #fff;
    display: inline-block;
    height: 30px;
    padding: 5px 15px;
    text-decoration: none;
}


#posts-list footer {
    position: relative;
    float: left;
    font-size: 80%;
    width: 180px;
    padding: 10px 10px;
    margin: 0 auto;
}
