@import url("reset.css");
@import url("original_main.css");
@import url("../fonts/cm-webfont/fonts.css");

div.figure {
    width: 90%;
    margin: 0 auto;
    border: 1px solid #eeeeee;
    padding: 0.5em;
}

.figure img {
    width: 100%
}

body {
    font-family: "Computer Modern Serif", serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Computer Modern Sans", sans-serif;
    font-variant: small-caps;
}

nav a {
    font-family: "Computer Modern Sans", sans-serif;
    font-size: 1.3em;
    font-weight: 500;
}

body p, body li, body tr {
    font-size: 1.2em;
}
